# IGNORAR carpetas grandes y temporales de Vivado
i2c_master_controller.cache/
i2c_master_controller.hw/
i2c_master_controller.ip_user_files/
i2c_master_controller.sim/
i2c_master_controller.runs/

# IGNORAR archivo de proyecto de Vivado
i2c_master_controller.xpr

# ARCHIVOS GENERALES QUE VIVADO CREA
*.jou
*.log
*.str
*.dcp
*.wdb
*.xsa
*.bit
*.bin
*.mcs
*.elf
*.xml

# TEMPORALES GENERALES
*.tmp
*.backup
*.bak
*.swp
